
.header {

    font-family: 'Monoton', sans-serif;

}
h1 {
    font-size:70px;
}
body{
    background-color:#8BA3B8;
}

.results {
    font-family: 'Copse', serif;
}
.landingpage {
    color: white;
    background-image: url('../images/landing.jpeg');
    background-size: cover ;
    height: 1000px;
    background-repeat:no-repeat;
    font-family: 'Oxygen', sans-serif!important;
    text-align: center;
}
.searchForm {
    max-width:40%;
    margin-left: 30%;
}
body  {

    text-align: center;
}
.futurep{
    padding:50px;
    display: inline-block
}
p{
    font-size:20px;
}
h4 {
    font-size:25px;
}
 
